@import "tailwindcss";

@theme {
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--background);
  color: var(--subdued);
}

:root {
  --default: #e6ffe8;
  --subdued: #8ac28d;
  --background: #0a1f0c;
  --secondary: #162E1A;
  --border: #58835E;
}