@import "tailwindcss";

@theme {
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--background);
  color: var(--subdued);
}

:root {
  --default: #ffffff;
  --subdued: #475569;
  --background: #eff6ff;
  --secondary: #dbeafe;
  --border: #3b82f6;
}