@import "tailwindcss";

@theme {
  --font-sans: "Google Sans Flex", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

html,
body {
  background-color: var(--background);
  color: var(--subdued);
}

:root {
    --default: #eef7f6;
    --subdued: #92beb9;
    --background: #101918;
    --secondary: #182422;
    --border: #5f7f7a;
    --button-bg: #2563eb; 
    --button-bg2: #dc2626;
}